.App {
  background-image: url(./images/restaurant-opening-4.jpeg);
}

.button-blue {
  background-color: #7388ae;
  color: white;
  height: 40px;
  width: 200px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.restthumbnail {
  position: relative;
}

.restcaption {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
}

.background-restblue {
  background-color: #7388ae;
}

.background-restgreen {
  background-color: #e4ecc3;
}

.text-restblue {
  color: #7388ae;
}

.rest-popularthumbnail {
  position: relative;
}
